@using meeting_room_booking.ViewModels
@model RoomViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="alert-danger">
    @ViewBag.Error
</div>
@{
    if (ViewBag.Error == null)
    {
        <a asp-action="Index" class="btn btn-outline-info">All Rooms</a>

        <h5 style="padding-top: 2rem">Room Details</h5>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Capacity)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Capacity)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RoomColor)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RoomColor)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Facilities)
                    </dt>
                    <dd class="col-sm-10">
                        @foreach (var facility in Model.Facilities)
                        {
                            <ul>@facility</ul>
                        }
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                @if (Model.ImagePaths != null)
                {
                    @foreach (var image in Model.ImagePaths)
                    {
                        <img id="image" src="~/Images/@image" style="height: 200px; width: 300px; border:solid  1px; border-color: gray" />
                    }
                }
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Edit</a>
            </div>
        </div>
    }
}
